.calendar_content {
    background-color: #F6FEE5;
}

.calendar {
    text-align: center;
    padding: 85px;
}

.calendar__img {
    width: 750px;
    border-radius: 10px;
}

.calendar__ul {
    display: flex;
    justify-content: center;
}

.calendar__link {
    display: flex;
    padding: 0px 10px;
    border-bottom: 3px solid #435a6d;
    border-radius: 30px;
}

.calendar_li {
    list-style-type: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;

}

.calendar__a {
    text-decoration: none;
    color: #293d57;
}

.calendar__a:hover {
    border-bottom: 3px solid #435a6d;
    border-radius: 10px;
}

.calendar__a:active {
    color: rgba(34, 60, 80, 0.2);
    border-bottom: 0px solid #435a6d;
}

.calendar_content__text {
    display: flex;
    flex-direction: column;
    padding: 15px 100px;
}

.calendar_qweshens {
    display: flex;
}

.calendar_qwesshens__h2 {
    color: #293d57;
    padding: 45px;
}

.calendar_img_ava {
    width: 150px;
    height: auto;
    border-radius: 50%;
}
