@import "../../styles/mixsins";

.content {
  @include mobile {
    width: 100%;
  }
}

.nameHeader, .nameHeaderMobile {
  max-width: 1008px;
  font-size: 84px;
  font-weight: 700;
  line-height: 100.8px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  margin: 48px 0 0;

  @include mobile {
    font-size: 40px;
    line-height: 43.2px;
    text-align: center;
    margin: 20px 0 0;
  }
}

.nameHeader {
  @include mobile {
    display: none;
  }
}

.textColor {
  background: linear-gradient(92.01deg, rgba(124, 111, 207, 0.97) 0%, rgba(116, 174, 170, 0.95) 49.13%, #6FCF97 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textHeader {
  max-width: 621px;
  height: 41px;
  margin-top: 44px;
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
  text-align: left;
  color: #828282;

  @include mobile {
    max-width: 204px;
    margin: 20px auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.blockList {
  max-width: 554px;
  text-line-through: none;
  padding: 0;
  margin-top: 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    margin-top: 32px;
  }
}

.numK {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #F2F2F2;

  @include mobile {
    font-size: 28px;
    line-height: 28px;
    text-align: left;
  }
}

.textNum {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #F2F2F24D;

  @include mobile {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
}

.blockBtn {
  max-width: 532px;
  height: 56px;
  display: grid;
  place-items: center;
  border-radius: 16px;
  background: linear-gradient(92.01deg, rgba(124, 111, 207, 0.97) 0%, rgba(116, 174, 170, 0.95) 49.13%, #6FCF97 100%);
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  color: #1C1A1A;
  text-decoration: none;
  margin-top: 100px;

  @include mobile {
    height: 48px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 28px;
  }
}