body {
  margin: 0;
  font-family: 'Teko', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #1C1A1A;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}