.work__coteiner {
    padding: 125px 0px;
    background-color: #F6FEE5;
}

.work {
    text-align: center;
}

.work__img {
    width: 750px;
    border-radius: 20px;
}

.work__ul {
    padding: 25px 0px 15px;
}

.work__link {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.work_li {
    padding: 0px 25px;
}

.work__a {
    font-weight: 700;
    font-size: 24px;
    color: #435a6d;
    text-decoration: none;
}


.work__a:hover {
    border-bottom: 3px solid #435a6d;
    border-radius: 10px;
}

.work__a:active {
    color: rgba(34, 60, 80, 0.2);
    border-bottom: 0px solid #435a6d;
}

.work_about {
    display: flex;
    padding: 25px 200px;
}

.work_img__ava {
    width: 150px;
    border-radius: 50px;
}

.work_handbutton {
    display: flex;
    flex-direction: column;
}

.work_item__h2 {
    padding: 45px 45px 15px;
    color: #435a6d;
}

.work_item__p {
    padding: 0px 135px;
    display: flex;
    justify-content: center;
}

.work_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_item__img {
    padding: 20px;
    width: 1150px;
    height: 600px;
    border-radius: 50px;
}

.work_item__text {
    font-size: 20px;
    width: 500px;
    color: #435a6d;
}

.work_item__h2 {
    font-size: 29px;
    color: #435a6d;
}

.work__item__zag {
    padding: 20px 0px;
    color: #435a6d;
}