@import "../../styles/mixsins";

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  margin-top: 25px;
  padding: 0 62px;

  @include mobile {
    column-gap: 16px;
    margin-top: 18px;
    padding: 0 16px;
    justify-content: center;
  }
}

.blockAdd {
  max-width: 132px;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 7px;
  padding: 8px 12px 8px 12px;
  border-radius: 12px;
  background: #302D2D57;

  @include mobile {
    width: 100px;
    height: 34px;
  }
}

.textFooterOne {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #F2F2F266;
  margin: 0;

  @include mobile {
    font-size: 10px;
    line-height: 10px;
    text-align: left;
  }
}

.textFooterTwo {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #F2F2F266;
  margin: 0;

  @include mobile {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
  }
}