.main_conteiner {
    max-width: 1366px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /* border: 4px solid; */
    position: relative;
}

.heder_site {
    position: fixed;
    left: 0;
    z-index: 3;
    width: 90px;
    height: 100%;
    background-color: #293d57;
    /* border: 4px solid red; */
}

.body_site {
    width: 100%;
    height: auto;
    /* border: 4px solid blue; */
}

.footer_site {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #172437;
    color: #fff;
    /* border: 4px solid green; */
}