@import "../../styles/mixsins";

.blockComments {
  margin-top: 172px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &:nth-child(0) {
    margin-left: -127px;
  }
}

.blockProfile, .marginLeft {
  max-width: 288px;
  position: relative;
  z-index: 2;
  padding: 16px 0 16px 20px;
  border-radius: 20px;
  border: 1px solid;
  background: #302D2D57;
  box-shadow: 0 0 0 1px rgba(124, 111, 207, 0.194), 0 0 0 1px rgba(116, 174, 170, 0.19), 0 0 0 1px rgba(111, 207, 151, 0.2);

  @include mobile {
    display: none;
  }
}

.marginLeft {
  margin-left: -127px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.imgProfile {
  display: grid;
  place-items: center;
  img {
    width: 48px;
    height: 48px;
  }
}

.name {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #F2F2F2;
  margin: 0;
}

.email {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #F2F2F266;
  margin: 0;
}

.textProfile {
  max-width: 225px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.7px;
  text-align: left;
  color: #F2F2F2;
  margin: 16px 0 0;
}

.bitcoin {
  width: 312px;
  height: 352px;
  position: absolute;
  z-index: 1;
  right: 50px;

  @include mobile {
    width: 136px;
    height: 188px;
    top: 5px;
    right: 46px;
  }
}

.ethereum {
  width: 312px;
  height: 408px;
  position: absolute;
  z-index: 1;
  bottom: -105px;
  right: -5px;

  @include mobile {
    width: 136px;
    height: 214px;
    bottom: 0;
    top: 200px;
    right: 35px;
  }
}

.litecoin {
  width: 312px;
  height: 324px;
  position: absolute;
  z-index: 1;
  top: 275px;
  right: 240px;

  @include mobile {
    width: 140px;
    height: 160px;
    top: 60px;
    right: 155px;
  }
}