.dws_menu{
    display: flex;
    justify-content: end;
    width: 100%;
    position: absolute;
    z-index: 1; 
    top: 25px;
}

.dws_ul{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: 400;
}

.dws_li {
    display: block;
    margin: 0;
    padding-left: 19px;
    padding-right: 19px
}

.dws_li a:hover {
    color: #fff;
    border-bottom: 3px solid #435a6d;
    border-radius: 10px;
}

.dws_li a:active {
    color: rgba(34, 60, 80, 0.2);
    border-bottom: 0px solid #435a6d;
}

.dws_li a{
    position: relative;
    line-height: 1;
    display: block;
    color: #435a6d;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    transition: color 0.15s;
    -webkit-font-smoothing: antialiased
}

.dws_bottom {
    height: 30px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(135deg, #6db3f2 0%,#54a3ee 49%,#3690f0 53%,#1e69de 100%);
    border-radius: 15px;
}

.dws_li__bottom {
    margin-right: 20px;
    font-size: 18px;
}

.dws_bottom:hover {
    box-shadow: 0px -1px 10px 2px rgba(34, 60, 80, 0.2) inset;
    color: #fff;
    border-bottom: 3px solid #435a6d;
    border-radius: 10px;
}

.dws_bottom:active {
    color: rgba(34, 60, 80, 0.2);
    border-bottom: 0px solid #435a6d;
}